.employee {
    padding: 50px 30px;
    border: 1px solid var(--text-over-light);
    text-align: center;
    flex-basis: 300px;
    flex-grow: 1;
    /* flex-wrap: wrap; */
}

.employee__picture {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 30px;
}

.employee__name {
    margin-bottom: 10px;
    font-weight: normal;
}

