.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-top: 1px solid var(--text-over-light);
    gap: 10px;
}

.footer .navbar {
    color: var(--color-dark);
    font-size: 1.3em;
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
}